<h1>Artist Summary</h1>

<p>This is a summary table to view our artists and the count of their works in our database. 
  Clicking on Update will take you to a page to edit the artist and artworks selected.</p>

{{! READ table }}
<table>
  <thead>
    {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each Summary.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
  </thead>
  <tbody>
    {{#each Summary}}
      <tr>
        <td>{{this.ID}}</td>
        <td>{{this.Artist_Name}}</td>
        <td>{{this.Artwork_Count}}</td>
        <td>
          <a href="/edit-artist/{{this.ID}}">Update</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
