{{! Source code was used and adapted from: 
https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
Used for: Creating the Node.JS starting code and the CRUD pages for our "Artists" page and home page 
Date: 5/6/2025

On: 5/13/2025:
For: home.hbs, artists.hbs, artworks.hbs, locations.hbs, gendercodes.hbs, mediums.hbs, CSS
Source: Class exploration - Web Application Technology
Starter code from class was used to model our basic webpages and the start of our CSS }}

<article>
<h1>Artists</h1>
<p>This holds the names and information of the artists we’re tracking. 
    Updates to this will also update our intersection table, ArtistArtworks, as needed.</p>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
           <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Queer</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, gender, sexuality, birth and res id }}
        {{#each Artists}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Gender}}</td>
            <td>{{this.Queer}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.State}}</td>
            <td>{{this.City}}</td>

            <td>
                <form action="/artists/delete/{{this.ID}}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>

                <script>
                    function confirmDelete() {
                    return confirm("Are you sure you want to delete this artist?");
                    }
                </script>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a New Artist</h2>
<br>
<form class='cuForm' id='create_artist_form' method="POST" action="/artists/create">
    <label for='create_artist_fullname'>Full Name: </label>
    <input type='text' name='create_artist_fullname' id='create_artist_fullname' required />

    <label for='create_artist_gender'>Artist Gender: </label>
    <select name='create_artist_gender' id='create_artist_gender'>
        {{#each GenderCodes}}
        <option value='{{this.genderID}}' required>
            {{this.description}}
        </option>
        {{/each}}
    </select>

    <label for='create_artist_queer'>Queer?: </label>
    <input type='checkbox' name='create_artist_queer' value="1" 
        {{#if this.Digital_Art}}checked{{/if}} id='create_artist_queer' />
        
    <label for='create_artist_birth_loc'>Birth Location: </label>
    <select name='create_artist_birth_loc' id='create_artist_birth_loc'>
        <option value='NULL' selected>Select a Location</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Locations}}
        <option value='{{this.locationID}}'>{{this.country}} - {{this.state}}</option>
        {{/each}}
    </select>

     <label for='create_artist_res_loc'>Main Residence Location: </label>
    <select name='create_artist_res_loc' id='create_artist_res_loc'>
        <option value='NULL' selected>Select a Location</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Locations}}
        <option value='{{this.locationID}}'>{{this.country}} - {{this.state}}</option>
        {{/each}}
    </select>

    <input class="submit-btn" type='submit' />
</form>

<br>

<h2>Update an Artist</h2>
<br>
<form class='cuForm' id='update_artist_form' method="POST" action="/artists/update">
    <label for='select_artist_id'>Artist to Update: </label>
    <select name='old_artistID' id='select_artist_id' required>
        {{#each Artists}}
        <option value='{{this.ID}}'>{{this.ID}} - {{this.Name}}</option>
        {{/each}}
    </select>

    <label for='update_artist_id'>Change Artist ID: </label>
    <input type='number' name='new_artistID' id='update_artist_id' min="1"/>

    <label for='update_artist_birth_location'>Birth Location: </label>
    <select name='birthLocID' id='update_artist_birth_location'>
        {{#each Locations}}
        <option value='{{this.locationID}}'>{{this.country}} - {{this.state}}</option>
        {{/each}}
    </select>

    <label for='update_artist_res_location'>Main Residence: </label>
    <select name='residenceLocID' id='update_artist_res_location'>
        {{#each Locations}}
        <option value='{{this.locationID}}'>{{this.country}} - {{this.state}}</option>
        {{/each}}
    </select>

    <label for='update_artist_fullname'>Artist Full Name: </label>
    <input type='text' name='fullName' id='update_artist_fullname' />

    <label for='update_artist_gender'>Update Gender: </label>
    <select name='genderCode' id='update_artist_gender'>
        {{#each GenderCodes}}
        <option value='{{this.genderID}}'>{{this.description}}</option>
        {{/each}}
    </select>

    <label for='update_artist_queer'>Queer?: </label>
    <input type='checkbox' name='queer' value="1" id='update_artist_queer' />

    <input class="submit-btn" type='submit' />
</form>

<form action="/reset-database" method="POST" style="margin-top: 1em;" onsubmit="return confirmReset();">
  <button class="reset-btn" type="submit">Reset Database</button>
</form>

<script>
  function confirmReset() {
    return confirm("Are you sure you want to reset the entire database? This action cannot be undone.");
  }
</script>

</article>