<h1>Artists</h1>

<p>This holds the names and information of the artists we’re tracking. 
    Updates to this will also update our intersection table, ArtistArtworks, as needed.</p>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
           <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Queer</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, gender, sexuality, birth and res id }}
        {{#each Artists}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Gender}}</td>
            <td>{{this.Queer}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.State}}</td>
            <td>{{this.City}}</td>

            <td>
                <form action="/artists/delete/{{this.ID}}" method="POST" style="display:inline;">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a New Artist</h2>
<form class='cuForm' id='create_artist_form'>
    <label for='create_artist_fullname'>Full Name: </label>
    <input type='text' name='create_artist_fullname' id='create_artist_fullname' required />

    <label for='create_artist_gender'>Artist Gender: </label>
    <select name='create_artist_gender' id='create_artist_gender'>
        <option value='NULL' disabled selected>Select a Gender</option>
        {{#each GenderCodes}}
        <option value='{{this.genderID}}' required>
            {{this.description}}
        </option>
        {{/each}}
    </select>

    <label for='create_artist_queer'>Queer?: </label>
    <input type='checkbox' name='create_artist_queer' value="1" 
        {{#if this.Digital_Art}}checked{{/if}} id='create_artist_queer' />

    <label for='create_artist_birth_loc'>Birth Location: </label>
    <select name='create_artist_birth_loc' id='create_artist_birth_loc'>
        <option value='NULL' selected>Select a Location</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Locations}}
        <option value='{{this.country}}'>
             {{this.country}}
            -
            {{this.state}}
            </option>
        {{/each}}
    </select>

     <label for='create_artist_res_loc'>Main Residence Location: </label>
    <select name='create_artist_res_loc' id='create_artist_res_loc'>
        <option value='NULL' selected>Select a Location</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Locations}}
        <option value='{{this.country}}'>
            {{this.country}}
            -
            {{this.state}}
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Artist</h2>
<form class='cuForm' id='update_artist_form'>
    <label for='update_artist_id'>Artist to Update: </label>
    <select name='update_artist_id' id='update_artist_id' required>
        <option value='' disabled selected>Select an Artist</option>
        {{#each Artists}}
        <option value='{{this.ID}}' required>
            {{this.ID}}
            -
            {{this.Name}}
        </option>
        {{/each}}
    </select>

    <label for='update_artist_id'>Change Artist ID: </label>
    <input type='number' name='update_artist_id' id='update_artist_id' />

    <label for='update_artist_birth_location'>Artist Birth Location: </label>
    <select name='update_artist_birth_location' id='update_artist_birth_location'>
        <option value='NULL' disabled selected>Select a Location</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Locations}}
        <option value='{{this.country}}' required>
            {{this.country}}
            -
            {{this.state}}
        </option>
        {{/each}}
    </select>

    <label for='update_artist_res_location'>Artist Main Residence: </label>
    <select name='update_artist_res_location' id='update_artist_res_location'>
        <option value='NULL' disabled selected>Select a Location</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Locations}}
        <option value='{{this.country}}' required>
            {{this.country}}
            -
            {{this.state}}
        </option>
        {{/each}}
    </select>

    <label for='update_artist_name'>Artist Full Name: </label>
    <input type='text' name='update_artist_name' id='update_artist_name' />

    <label for='update_artist_gender'>Update Gender: </label>
    <select name='update_artist_gender' id='update_artist_gender'>
        <option value='NULL' disabled selected>Select a Gender Code</option>
        {{#each GenderCodes}}
        <option value='{{this.genderID}}' required>
            {{this.description}}
        </option>
        {{/each}}
    </select>

    <label for='update_artist_queer'>Queer?: </label>
    <input type='checkbox' name='update_artist_queer' value="1" 
        {{#if this.Digital_Art}}checked{{/if}} id='update_artist_queer' />

    <input type='submit' />
</form>