<article>
<h1>Artworks</h1>
<p>This table records the names and information of the artworks for the artists we have the search available for. 
    Updates to this will also update our intersection table, ArtistArtworks, as needed.</p>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>ID</th>
            <th>Digital Art</th>
            <th>Date</th>
            <th>Century</th>
            <th>Medium</th>
            <th>Artwork Name</th>
            <th>Artist Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, digital art, date it was created, art period code, art medium code, and art name }}
        {{#each Artworks}}
        <tr>
            <td>{{this.artworkID}}</td>
            <td>{{this.digitalArt}}</td>
            <td>{{this.dateCreated}}</td>
            <td>{{this.centuryPart}} {{this.century}}</td>
            <td>{{this.mediumDescription}}</td>
            <td>{{this.artName}}</td>
            <td>{{this.fullName}}</td>
            
             <td>
                <form action="/artworks/delete/{{this.artworkID}}" method="POST" style="display:inline;">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a New Artwork</h2>
<form class='cuForm' id='create_artwork_form'>
    <label for='create_artwork_name'>Artwork Name: </label>
    <input type='text' name='create_artwork_name' id='create_artwork_name' />
    
    <label for='create_artwork_artist'>Artist: </label>
    <select name='create_artwork_artist' id='create_artwork_artist'>
        <option value='NULL' selected>Select the Artist</option>
        {{#each Artists}}
        <option value='{{this.artistID}}'>{{this.fullName}}</option>
        {{/each}}
    </select>

    <label for='create_artwork_artmediumcode'>Art Medium Code: </label>
    <select name='create_artwork_artmediumcode' id='create_artwork_artmediumcode'>
        <option value='NULL' selected>Select a Medium</option>
        {{#each Mediums}}
        <option value='{{this.mediumID}}'>{{this.mediumDescription}}</option>
        {{/each}}
    </select>

    <label for='create_artwork_artPeriodCode'>Art Period: </label>
    <select name='create_artwork_artPeriodCode' id='create_artwork_artPeriodCode'>
        <option value='NULL' selected>Select an Art Period</option>
        {{#each ArtPeriods}}
        <option value='{{this.periodID}}'>
            {{this.century}}
            -
            {{this.centuryPart}}
            </option>
        {{/each}}
    </select><br>

    <label for='create_artwork_datecreated'>Date of Creation: </label>
    <input type='date' name='create_artwork_datecreated' id='create_artwork_datecreated' />

    <label for='create_artwork_digitalArt'>Digital Art: </label>
    <input type='checkbox' name='create_artwork_digitalArt' value="1" 
        {{#if this.digitalArt}}checked{{/if}} id='create_artwork_digitalArt' />

    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update an Artwork</h2>
<form class='cuForm' id='update_artwork_form'>
    <label for='update_artwork_id'>Artwork to Update: </label>
    <select name='update_artwork_id' id='update_artwork_id' required>
        <option value='' disabled selected>Select an Artwork</option>
        {{#each Artworks}}
        <option value='{{this.artworkID}}' required>
            {{this.artworkID}}
            -
            {{this.artName}}
        </option>
        {{/each}}
    </select>

     <label for='update_artwork_artist'>Update the Artwork's Artist: </label>
    <select name='update_artwork_artist' id='update_artwork_artist'>
        <option value='NULL' selected>Select the Artist</option>
        {{#each Artists}}
        <option value='{{this.artistID}}'>{{this.fullName}}</option>
        {{/each}}
    </select>

    <label for='update_artwork_artMediumCode'>Art Medium Code: </label>
    <select name='update_artwork_artMediumCode' id='update_artwork_artMediumCode'>
        <option value='NULL' selected>Select a Medium</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Mediums}}
        <option value='{{this.mediumID}}' required>
            {{this.mediumDescription}}
        </option>
        {{/each}}
    </select><br>

    <label for='update_artwork_artPeriodCode'>Art Period: </label>
    <select name='update_artwork_artPeriodCode' id='update_artwork_artPeriodCode'>
        <option value='NULL' selected>Select an Art Period</option>
         {{#each ArtPeriods}}
        <option value='{{this.periodID}}'>
            {{this.century}}
            -
            {{this.centuryPart}}
            </option>
        {{/each}}
    </select>

    <label for='update_artwork_name'>Artwork Name: </label>
    <input type='text' name='update_artwork_name' id='update_artwork_name' />

    <label for='update_artwork_dateCreated'>Date of Creation: </label>
    <input type='date' name='update_artwork_dateCreated' id='update_artwork_dateCreated' />

    <label for='update_artwork_digitalArt'>Digital Art: </label>
    <input type='checkbox' name='update_artwork_digitalArt' value="1" 
        {{#if this.digitalArt}}checked{{/if}} id='update_artwork_digitalArt' />

    <input type='submit' />
</form>

<form action="/reset-database" method="POST" style="margin-top: 1em;">
  <button class="reset-btn" type="submit">Reset Database</button>
</form>

</article>