{{! Source code was used and adapted from: 
https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948 
Used for: Creating the Node.JS starting code and the CRUD pages for our "Artists" page and home page 
Date: 5/6/2025

On: 5/13/2025:
For: home.hbs, artists.hbs, artworks.hbs, locations.hbs, gendercodes.hbs, mediums.hbs, CSS
Source: Class exploration - Web Application Technology
Starter code from class was used to model our basic webpages and the start of our CSS }}

<article>
<h1>Artworks</h1>
<p>This table records the names and information of the artworks for the artists we have the search available for. 
    Updates to this will also update our intersection table, ArtistArtworks, as needed.</p>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>ID</th>
            <th>Digital Art</th>
            <th>Date</th>
            <th>Century</th>
            <th>Medium</th>
            <th>Artwork Name</th>
            <th>Artist Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, digital art, date it was created, art period code, art medium code, and art name }}
        {{#each Artworks}}
        <tr>
            <td>{{this.artworkID}}</td>
            <td>{{this.digitalArt}}</td>
            <td>{{this.dateCreated}}</td>
            <td>{{this.centuryPart}} {{this.century}}</td>
            <td>{{this.mediumDescription}}</td>
            <td>{{this.artName}}</td>
            <td>{{this.fullName}}</td>
            
             <td>
                <form action="/artworks/delete/{{this.artworkID}}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
                    <button type="submit" class="delete-btn">Delete</button>
                </form>

                <script>
                    function confirmDelete() {
                    return confirm("Are you sure you want to delete this artwork?");
                    }
                </script>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Add a New Artwork</h2>
<br>
<form class='cuForm' id='create_artwork_form' method="POST" action="/artworks/create">
    <label for='create_artwork_name'>Artwork Name: </label>
    <input type='text' name='create_artwork_name' id='create_artwork_name' />
    
    <label for='create_artwork_artist'>Artist: </label>
    <select name='create_artwork_artist' id='create_artwork_artist'>
        {{#each Artists}}
        <option value='{{this.artistID}}'>{{this.fullName}}</option>
        {{/each}}
    </select>

    <label for='create_artwork_artmediumcode'>Art Medium Code: </label>
    <select name='create_artwork_artmediumcode' id='create_artwork_artmediumcode'>
        <option value='NULL' selected>Select a Medium</option>
        {{#each Mediums}}
        <option value='{{this.mediumID}}'>{{this.mediumDescription}}</option>
        {{/each}}
    </select><br>

    <label for='create_artwork_artPeriodCode'>Art Period: </label>
    <select name='create_artwork_artPeriodCode' id='create_artwork_artPeriodCode'>
        {{#each ArtPeriods}}
        <option value='{{this.periodID}}'>
            {{this.century}}
            -
            {{this.centuryPart}}
            </option>
        {{/each}}
    </select>

    <label for='create_artwork_datecreated'>Date of Creation: </label>
    <input type='date' name='create_artwork_datecreated' id='create_artwork_datecreated' required />

    <label for='create_artwork_digitalArt'>Digital Art: </label>
    <input type='checkbox' name='create_artwork_digitalArt' value="1" 
        {{#if this.digitalArt}}checked{{/if}} id='create_artwork_digitalArt' />

    <input class="submit-btn" type='submit' />
</form>

<br>

{{! UPDATE form }}
<h2>Update an Artwork</h2>
<br>
<form class='cuForm' id='update_artwork_form' method='POST' action='/artworks/update'>
    <label for='update_artwork_old_id'>Current Artwork ID: </label>
    <select name='old_artworkID' id='update_artwork_old_id' required>
        <option value='' disabled selected>Select an Artwork</option>
        {{#each Artworks}}
        <option value='{{this.artworkID}}'>{{this.artworkID}} - {{this.artName}}</option>
        {{/each}}
    </select>

    <label for='update_artwork_new_id'>New Artwork ID (or same): </label>
    <input type='number' name='new_artworkID' id='update_artwork_new_id' required />

    <label for='update_artwork_name'>Artwork Name: </label>
    <input type='text' name='artName' id='update_artwork_name' />

    <label for='update_artwork_dateCreated'>Date of Creation: </label>
    <input type='date' name='dateCreated' id='update_artwork_dateCreated' />

    <label for='update_artwork_artPeriodCode'>Art Period: </label>
    <select name='artPeriodCode' id='update_artwork_artPeriodCode'>
        {{#each ArtPeriods}}
        <option value='{{this.periodID}}'>{{this.century}} - {{this.centuryPart}}</option>
        {{/each}}
    </select>

    <label for='update_artwork_artMediumCode'>Art Medium Code: </label>
    <select name='artMediumCode' id='update_artwork_artMediumCode'>
        {{#each Mediums}}
        <option value='{{this.mediumID}}'>{{this.mediumDescription}}</option>
        {{/each}}
    </select>

    <label for='update_artwork_digitalArt'>Digital Art?: </label>
    <input type='checkbox' name='digitalArt' value='1' id='update_artwork_digitalArt' />

    <button class="submit-btn" type='submit'>Update Artwork</button>
</form>

<form action="/reset-database" method="POST" style="margin-top: 1em;" onsubmit="return confirmReset();">
  <button class="reset-btn" type="submit">Reset Database</button>
</form>

<script>
  function confirmReset() {
    return confirm("Are you sure you want to reset the entire database? This action cannot be undone.");
  }
</script>

</article>