<h1>Edit Artist: {{Artist.Artist_Name}}</h1>

<form method="POST" action="/update-artist/{{Artist.Artist_Name}}">
  <label>Artist Name:</label>
  <input type="text" name="fullName" value="{{Artist.Artist_Name}}" /><br>

  <label>Gender:</label>
  <input type="text" name="genderCode" value="{{Artist.Gender}}" /><br>

  <label>Queer:</label>
  <input type="checkbox" name="queer" value="1" {{#if Artist.Queer}}checked{{/if}} /><br>

  <label for='update_artist_birth_location'>Artist Birth Location: </label>
    <select name='update_artist_birth_location' id='update_artist_birth_location'>
        <option value='NULL' disabled selected>Select a Location</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Locations}}
        <option value='{{this.Country}}' required>
            {{this.State}}
        </option>
        {{/each}}
    </select>

    <label for='update_artist_res_location'>Artist Main Residence: </label>
    <select name='update_artist_res_location' id='update_artist_res_location'>
        <option value='NULL' disabled selected>Select a Location</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Locations}}
        <option value='{{this.Country}}' required>
            {{this.State}}
        </option>
        {{/each}}
    </select>

  <button type="submit">Update Artist</button>
</form>

<h3>Associated Artworks</h3>
<table>
  <thead>
    <tr>
       {{#each Summary.[0]}}
            <th>
                {{@key}}
            </th>
        {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each Artworks}}
      <tr>
        <td>{{this.Artwork_ID}}</td>
        <td>{{this.Artwork_Name}}</td>
        <td>{{this.Digital_Art}}</td>
        <td>{{this.Date}}</td>
        <td>{{this.Period}}</td>
        <td>{{this.Medium}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
